body {
  max-width: 640px;
  margin: 0 auto;
}

.banner-top {
  background: center no-repeat url("/public/images/pic.jpg");
  font-size: 1.5rem;
  line-height: 40px;
  text-shadow: 1px 0 0 #8d0e0e, -1px 0 0 #8d0e0e, 0 1px 0 #8d0e0e,
    0 -1px 0 #8d0e0e, 1px 1px #8d0e0e, -1px -1px 0 #8d0e0e, 1px -1px 0 #8d0e0e,
    -1px 1px 0 #8d0e0e;
}

.intro-img {
  max-width: 640px;
}

a {
  color: inherit;
  text-decoration: none;
}

.hop-tac {
  background-color: black;
  color: #154f28;
  background-image: url(/public/images/beer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.small {
  font-size: 0.875em;
}

@keyframes call-icon-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes call-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@keyframes call-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }

  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }

  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
